.qlas-aboutpage{min-height: 100vh;}.qlas-aboutpagebody{min-height:calc(100vh - 400px);}.qlas-aboutpagebody-tagline{margin: 40px;
                text-align:center;
                margin-top:80px;
                margin-bottom:80px;}.qlas-blogpage{min-height: 100vh;}.qlas-blogpagebody{min-height:calc(100vh - 400px);
                 font-family:Lato;}.qlas-blogpagebody-tagline{margin: 40px;
                text-align:center;
                margin-top:80px;
                margin-bottom:80px;}.qlas-blogpagebody-supportLink{color:#52bae4;
                cursor:default;}.qlas-blogpagebody-supportLink:hover{text-decoration:underline;}.qlas-blogpagebody-blogContent{width: 320px;
                border: solid 0px;}.qlas-footer-sectionRow{margin-top: 12px;}.qlas-footer-aboutRow{margin-top: 15px;
                margin-bottom: 15px;}.qlas-footer-inlineH1{margin-bottom:6px;}.qlas-footer-linkCell{margin:10px;
                margin-left:20px;                
                margin-right:20px;
                width:60px;
                text-align:center;
                font-family:Lato;
                display:table-cell;}.qlas-footer-linkCell{margin:10px;
                margin-left:20px;                
                margin-right:20px;
                width:80px;
                text-align:center;
                font-family:Lato;
                display:table-cell;}.qlas-footer-betaCell{margin-top:10px;
                margin-bottom:10px;
                text-align:left;
                font-family:Lato;
                color:#C0C0C0;}.qlas-footer-betaText{padding-left:20px;}.qlas-footer-linkArea{display:table;
                margin-left:10px;
                margin-right:10px;                
                margin-top:10px;
                margin-bottom:10px;}.qlas-footer-linkRow{display:table-row;}.qlas-header{background-image:url("/qlas/images/crowd.jpg");
                background-size:cover;
                height:280px;}.qlas-header-banner{background-color:rgba(32, 32, 32, 0.4);
                height:280px;}.qlas-header-logoText{font-family:Pacifico;
                font-size:48pt;
                color:white;
                margin-left:140px;
                font-weight:300;
                padding-top:20px;}.qlas-supportpage{min-height: 100vh;}.qlas-supportpagebody{min-height:calc(100vh - 400px);
                 font-family:Lato;}.qlas-supportpagebody-tagline{margin: 40px;
                text-align:center;
                margin-top:80px;
                margin-bottom:80px;}.qlas-supportpagebody-supportLink{color:#52bae4;
                cursor:default;}.qlas-supportpagebody-supportLink:hover{text-decoration:underline;}.qlas-topnav-aboutNav{margin-left:100px;}