.qlas-aboutpage{min-height: 100vh;}.qlas-aboutpagebody{min-height:calc(100vh - 142px);
                 padding-left:20px;
                 padding-right:20px;}.qlas-aboutpagebody-tagline{margin: 40px;
                text-align:center;
                margin-top:30px;
                margin-bottom:80px;}.qlas-blogpage{min-height: 100vh;}.qlas-blogpagebody{min-height:calc(100vh - 142px);
                 font-family:Lato;
                 padding-left:20px;
                 padding-right:20px;}.qlas-blogpagebody-tagline{margin: 40px;
                text-align:center;
                margin-top:80px;
                margin-bottom:80px;}.qlas-blogpagebody-blogContent{width: 320px;
                border: solid 0px;}.qlas-blogpagebody-blogLabel{margin-left: 20px;}.qlas-customerspage{min-height: 100vh;}.qlas-customerspagebody{min-height:calc(100vh - 142px);
                 font-family:Lato;
                 padding-left:20px;
                 padding-right:20px;}.qlas-customerspagebody-customerRow{display:inline-block;
                padding-top:100px;
                padding-bottom:100px;
                cursor:default;}.qlas-customerspagebody-customerIconArea{padding:20px 20px;}.qlas-customerspagebody-customerName{font-size:xx-large;
                padding:35px 10px;
                text-transform:uppercase;}.qlas-customerspagebody-customerDesc{font-size:small;
                text-align:left;
                padding:20px 10px;}.qlas-featurespage{min-height: 100vh;}.qlas-featurespagebody{min-height:calc(100vh - 142px);
                 font-family:Lato;
                 padding-left:20px;
                 padding-right:20px;}.qlas-featurespagebody-tagline{margin: 40px;
                text-align:center;
                margin-top:80px;
                margin-bottom:80px;}.qlas-featurespagebody-featureValueProp{font-size:xx-large;
                padding:60px 20px;
                text-transform:uppercase;}.qlas-featurespagebody-featureValueDesc{font-size:small;
                text-align:left;
                padding:60px 20px;}.qlas-featurespagebody-featureValueImage{text-align:center;
                padding:60px 0px;}.qlas-featurespagebody-outer{text-align:center;
                vertical-align:middle;
                padding:40px;}.qlas-featurespagebody-featureRow{min-height:120px;
                display:inline-block;}.qlas-featurespagebody-easyToShare{background-color:#F0F0F0;}.qlas-featurespagebody-beautiful{background-color:#F0F0F0;}.qlas-featurespagebody-featureImage{border:solid 1px #E0E0E0;
                box-shadow: 2px 2px 2px rgba(150, 150, 150, 0.15);
                max-width:22vw;}.qlas-footer{font-size:small;}.qlas-footer-sectionRow{margin-top: 12px;}.qlas-footer-aboutRow{margin-top: 15px;
                margin-bottom: 15px;}.qlas-footer-inlineH1{margin-bottom:6px;}.qlas-footer-linkCell{margin:10px;
                margin-left:20px;                
                margin-right:20px;
                width:60px;
                text-align:center;
                font-family:Lato;
                display:table-cell;}.qlas-footer-linkCell{margin:10px;
                margin-left:20px;                
                margin-right:20px;
                width:80px;
                text-align:center;
                font-family:Lato;
                display:table-cell;}.qlas-footer-betaCell{margin-top:10px;
                margin-bottom:10px;
                text-align:left;
                font-family:Lato;
                color:#C0C0C0;}.qlas-footer-betaText{padding-left:20px;}.qlas-footer-linkArea{display:table;
                margin-left:10px;
                margin-right:10px;                
                margin-top:10px;
                margin-bottom:10px;}.qlas-footer-linkRow{display:table-row;}.qlas-header{background-image:url("/qlas/images/crowd.jpg");
                background-size:cover;
                height:120px;}.qlas-header-banner{background-color:rgba(32, 32, 32, 0.4);
                height:120px;}.qlas-header-logoImage{font-family:Pacifico;
                font-size:48pt;
                color:white;
                margin-left:80px;
                font-weight:300;
                padding-top:20px;}.qlas-pricingpage{min-height: 100vh;}.qlas-pricingpagebody{min-height:calc(100vh - 142px);
                 font-family:Lato;
                 padding-left:20px;
                 padding-right:20px;}.qlas-pricingpagebody-tagline{margin: 40px;
                text-align:center;
                margin-top:80px;
                margin-bottom:80px;}.qlas-pricingpagebody-freeLine{margin-top:20px;}.qlas-pricingpagebody-freeSpace{font-size:xx-large;}.qlas-pricingpagebody-highFive{background-color: #209cbe;
                font-size: small;
                text-align: right;
                padding: 4px;
                padding-left:10px;
                padding-right:10px;
                margin-right:4px;
                margin-bottom:4px;
                border: solid 0px;
                margin-top:28px;
                border-radius:6px;
                height:44px;
                min-width:60px;
                box-shadow: 0px 2px 7px rgba(150, 150, 150, 0.5);
                vertical-align:middle;
                text-align:center;
                color: white;
                transition: all 0.3s ease-in-out}.qlas-pricingpagebody-highFive:active{box-shadow:none;}.qlas-pricingpagebody-smallPrint{font-size:x-small;
                padding-top:30px;}.qlas-supportpage{min-height: 100vh;}.qlas-supportpagebody{min-height:calc(100vh - 142px);
                 font-family:Lato;
                 padding-left:20px;
                 padding-right:20px;}.qlas-supportpagebody-tagline{margin: 40px;
                text-align:center;
                margin-top:80px;
                margin-bottom:80px;}.qlas-supportpagebody-supportLink{color:#209cbe;
                cursor:default;}.qlas-supportpagebody-supportLink:hover{text-decoration:underline;}.qlas-toolspage{min-height: 100vh;}.qlas-toolspagebody{min-height:calc(100vh - 142px);
                 font-family:Lato;
                 padding-left:20px;
                 padding-right:20px;}.qlas-toolspagebody-tagline{margin: 40px;
                text-align:center;
                margin-top:80px;
                margin-bottom:80px;}.qlas-toolspagebody-toolsRow{display:inline-block;
                padding-top:100px;
                padding-bottom:100px;}.qlas-toolspagebody-toolsIconArea{padding:20px 20px;}.qlas-toolspagebody-toolsName{font-size:xx-large;
                padding:15px 10px;
                vertical-align:top;
                text-transform:uppercase;}.qlas-toolspagebody-toolsDesc{font-size:small;
                text-align:left;
                padding:20px 10px;}.qlas-toolspagebody-surveys{cursor:default;
                background-color:rgba(255, 157, 173, 0.18);}.qlas-toolspagebody-signups{cursor:default;
                background-color:rgba(224, 240, 255, 0.18);}.qlas-toolspagebody-checklists{background-color:rgba(255, 242, 163, 0.18);}.qlas-toolspagebody-toolsIconArea{min-width:100px;}.qlas-toolspagebody-toolIcon{font-family: qla;
                color:white;
                font-size:36pt;
                padding-top:5px;
                padding-left:16px;
                vertical-align:top;
                cursor:default;
                width:80px;
                height:80px;
                border-radius:40px;}.qlas-toolspagebody-signupsIcon{background-color: rgb(166, 178, 194); 
                border: solid 1px rgb(166, 178, 194);}.qlas-toolspagebody-surveysIcon{background-color: rgb(224, 116, 128); 
                border: solid 1px rgb(224, 116, 128);}.qlas-toolspagebody-checklistIcon{background-color: rgb(207, 179, 121); 
                border: solid 1px rgb(207, 179, 121);}.qlas-topnav-aboutNav{margin-left:100px;}